// .about {

// }

.about__row {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;

  & > * {
    width: 45%;
    margin-bottom: 30px;
  }
  &:nth-child(2n + 1) {
    flex-wrap: wrap-reverse;
    & > :nth-child(1) {
      order: 2;
    }
  }
}

.about__title {
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.5;
  color: #000000;
}

.about__subtitle {
  font-size: 1em;
  line-height: 1.5;
  color: #000000;
  mark {
    background-color: #66a5e433;
    border-radius: 5px;
  }
  & a {
    transition: 0.3s;
  }
  & a:hover {
    color: aqua;
  }
}

// .abaut__aside {
// }
.about__image {
  border: 1vw solid white;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  img {
    width: 100%;
  }
}
