	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/06/2020 06:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-technology:before { content: "\f100"; }
.flaticon-transfer:before { content: "\f101"; }
.flaticon-down-arrow:before { content: "\f102"; }
.flaticon-right-arrow:before { content: "\f103"; }
.flaticon-left-arrow:before { content: "\f104"; }
.flaticon-up-arrow:before { content: "\f105"; }
.flaticon-list:before { content: "\f106"; }
.flaticon-head:before { content: "\f107"; }
.flaticon-next:before { content: "\f108"; }
.flaticon-back:before { content: "\f109"; }
.flaticon-options:before { content: "\f10a"; }
.flaticon-stuffit-x-archive:before { content: "\f10b"; }
.flaticon-magnifier:before { content: "\f10c"; }
.flaticon-signs:before { content: "\f10d"; }
.flaticon-celular:before { content: "\f10e"; }
.flaticon-mobile-analytics:before { content: "\f10f"; }
.flaticon-locate:before { content: "\f110"; }
.flaticon-calendary:before { content: "\f111"; }
.flaticon-listing:before { content: "\f112"; }
.flaticon-menu:before { content: "\f113"; }
.flaticon-envelope:before { content: "\f114"; }
.flaticon-logo:before { content: "\f115"; }
.flaticon-silhouette:before { content: "\f116"; }
.flaticon-social:before { content: "\f117"; }
.flaticon-photos:before { content: "\f118"; }
.flaticon-social-1:before { content: "\f119"; }
.flaticon-doodle-ly:before { content: "\f11a"; }
.flaticon-down-arrow-1:before { content: "\f11b"; }
.flaticon-send:before { content: "\f11c"; }
.flaticon-vk-social-logotype:before { content: "\f11d"; }
.flaticon-odnoklassniki-logo:before { content: "\f11e"; }
.flaticon-telegram:before { content: "\f11f"; }
.flaticon-github:before { content: "\f120"; }
.flaticon-skype:before { content: "\f121"; }
.flaticon-google-plus:before { content: "\f122"; }